@page

<div class="text-center">
    <h2>Gracinhas!</h2>
    <p>Agradecémosche que fixeses o pedido #@PedidoId</p>
    <p>Enviarémosche o pedido o antes posible.</p>
    <a class="btn btn-primary" asp-controller="Home">Volver a tenda de deportes</a>
</div>

@functions {
    [BindProperty(SupportsGet = true)]
    public string? PedidoId { get; set; }
}